<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>97497742296-br48o9vvsjr8s7mob0mb780lpoq9h3nq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97497742296-br48o9vvsjr8s7mob0mb780lpoq9h3nq</string>
	<key>API_KEY</key>
	<string>AIzaSyBJenpjpdZBW8UCXbBoC4mSnyWtESZU1Bo</string>
	<key>GCM_SENDER_ID</key>
	<string>97497742296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kewser.SOPI4TEST</string>
	<key>PROJECT_ID</key>
	<string>soicaregiver</string>
	<key>STORAGE_BUCKET</key>
	<string>soicaregiver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97497742296:ios:7dfa2994215be97d</string>
	<key>DATABASE_URL</key>
	<string>https://soicaregiver.firebaseio.com</string>
</dict>
</plist>